#textoGrande{
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}

img{
    display: block;
    margin: auto;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100;
    width: 200;
}